<!-- Mission de suivi de waypoints -->
<!-- <rosparam file="$(find sensors)/config/imu_boat.yaml" command="load"/> -->
<launch>
	<arg name="key_publi" default="0"/>

    <node pkg="control" type="key_publisher.py" name="key_pub">
    </node>

    <node pkg="control" type="key_to_twist.py" name="teleop">
    </node>

    <node pkg="actuators" type="differential_real.py" name="differential"/>

</launch>
