<!-- Mission de suivi de waypoints -->
<!-- <rosparam file="$(find sensors)/config/imu_boat.yaml" command="load"/> -->
<launch>

<!-- ================================CAPTEURS==================================== -->

    <!-- GPS -->
<!--     <node name="gps" pkg="sensors" type="nmea_serial_driver">
        <param name="port" type="string" value="/dev/gps"/>
        <param name="baud" value="4800"/>
    </node> -->

    <!-- IMU -->
    <node name="imu" pkg="xsens_driver" type="mtnode.py" >
        <param name="device" type="string" value="/dev/xsens_imu"/>
    </node>

    <!-- Conversion GPS + IMU en une Pose2d Local -->
    <node name="gps_to_local" pkg="sensors" type="LL_to_local.py" output="screen"/>

<!-- ================================REGULATION==================================== -->

    <node name="line_following" pkg="regulation_imugps" type="regulation_line.py">
        <remap from="position" to="gps/local_pose"/>
    </node>

    <node name="mission" pkg="regulation_imugps" type="navigation_line.py">
        <remap from="position" to="gps/local_pose"/>
    </node>

    <node pkg="actuators" type="steering_wheel_test_servo.py" name="servo_controller"/>

</launch>
